/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2e0a15e6;
    background-alt: #662244ff;
    foreground:     #ed835cff;
    selected:       #ed835cff;
    active:         #302776ff;
    urgent:         #9871bfff;
}
